.logoCol {
  background-color: #88453c;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.formCol {
  background-color: #bf6155;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 760px) {
  .logoCol {
    height: 50%;
  }
  .formCol {
    height: 50%;
  }
}
