/* Estilo para el contenedor de las pestañas */
.modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-size: 80%;
}

.modal-header{
    width: 100%;
}

.modal-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Color de fondo deseado */
    color: #000000; /* Color del texto en el encabezado */
    border-bottom: 1px solid #cccccc; /* Borde inferior opcional */
  }

.custom-tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: 100%;
  }
  
/* Estilo para cada pestaña */
.custom-tab {
    padding: 2px 12px;
    cursor: pointer;
    border: 1px solid #a8a8a8;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: #a8a8a8;
}
  
  /* Estilo para la pestaña activa */
.custom-tab--selected {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #4098d8;
    border-bottom: 3px solid #4098d8;
}

.tabpanel{
    padding: 4vh 2vh;
    padding-bottom: 1vh;
}
  
.inputRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Opcional, agrega margen entre las filas de input y label */
    
}

.inputRow1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 60%; /* Ajusta el ancho del Input según tus necesidades */
    white-space: nowrap;
    /* Otros estilos adicionales que desees aplicar al Input */
    font-size: 90%;
}

.inputRow1 Input {
    margin-left: 45px;
    margin-right: 20px; /* Opcional, agrega espacio entre el label y el input */
    white-space: nowrap;
    /* Otros estilos adicionales que desees aplicar al Input */
    font-size: 90%;
}
  
.icon {
    margin-left: 60%; /* Ajusta el espacio entre el Input y el ícono según tus necesidades */
    /* Otros estilos adicionales que desees aplicar al ícono */
  }

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    font-size: 90%;
}

.inputRow Label {
    margin-right: 20px; /* Opcional, agrega espacio entre el label y el input */
    white-space: nowrap;
    font-size: 90%;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%; 
    font-size: 90%;
}

.form-column {
    display: flex;
    flex-direction: column;
    margin: 4px;
    white-space: nowrap;
    width: 100%; 
    font-size: 90%;
    
}

.form-column input{
    font-size: 100%;
}
.form-column input[id="nivel"]
,.form-column input[id="grado"]{
    font-size: 80%;
}

.BotonGuardar Button { 
    background-color: #27bf2a; /* Color rojo */
    color: #ffffff; /* Texto en blanco */
    /* Otros estilos adicionales que desees */
}


.BotonCancelar button{
    background-color: #db2b24; /* Color rojo */
    color: #ffffff; /* Texto en blanco */
    /* Otros estilos adicionales que desees */
}

.modal-footer{
    width: 100%;
}

.labelCheckbox{
 padding-left: 15px;  
  
}

.label-with-margin {
    margin-top: 2%; /* Ajusta el valor según el espacio vertical que desees */
  }

  .label-with-margin1 {
    margin-top: 5%; /* Ajusta el valor según el espacio vertical que desees */
  }


  
  
  
  