.matriculaTitulo {
    text-align: left;
    padding-top: 3%;
    padding-left: 7%;
    font-size: 23px;
    font-weight: bold;
  }

.Formulario{
    margin-top: 2%;
    padding-left: 14.7%;
    padding-right: 17%;
}



/* Estilo para colocar el label y el input en la misma línea */
.inputRow {
    display: flex;
    align-items: center;
    width: 100%;
}

.inputRow Label {
    flex: auto; /* Ancho fijo para el label (ajústalo según tus necesidades) */
    margin-right: 10px; /* Espacio entre el label y el input */
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%; 
}

.form-column0 {
    display: flex;
    margin-top: 3%;
    white-space: nowrap;
    width: 100%; 
    align-items: center;
}

.form-column0 Label {

    margin-right: 20px; /* Espacio entre el label y el input */
}

.form-column0 Input {
    margin-right: 20px; /* Espacio entre el label y el input */
}

.form-column1 {
    display: flex;
    margin-top: 3%;
    white-space: nowrap;
    width: 100%; 
    align-items: center;
}

.form-column1 Label {
    margin-left: 20px; 
    margin-right: 20px; /* Espacio entre el label y el input */
}

.form-column1 Input {
    margin-right: 20px; /* Espacio entre el label y el input */
}


.BotonBuscar {
    padding-top: 3%;
}
.BotonBuscar Button { 
    background-color: #507df0; /* Color rojo */
    color: #ffffff; /* Texto en blanco */
    width: 100%;
    /* Otros estilos adicionales que desees */
}

.Tabla{
    margin-top: 2%;
    padding-left: 14.7%;
    padding-right: 17%;
}

.BotonNuevaMatricula{
    display: flex;
    justify-content: end;
    padding-top: 3%;
    padding-bottom: 3%;
}
.BotonNuevaMatricula Button { 
    background-color: #27bf2a; /* Color rojo */
    color: #ffffff; /* Texto en blanco */
    /* Otros estilos adicionales que desees */
}

.icono {
    padding-left: 15%;
    padding-right: 15%;
}

.Boton Button{
    background-color: #27bf2a; /* Color rojo */
    color: #ffffff; /* Texto en blanco */
    /* Otros estilos adicionales que desees */
}


  
  
  
  
  
  
  